<div class="container">
  <div class="row title-bar">
    <h2>Parrainage</h2>
    <div class="btn-sign-out">
      <p><%= current_user.first_name %> <%= current_user.last_name %><br>
      <%= link_to("Se déconnecter", "url") %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Le saviez-vous ?</h3>
      <p>En parrainant un ami, vous profitez d'une réduction de 99% sur votre dernière mensualité, le parrainé, quant à lui, bénéficie d'une réduction de 1% sur sa première mensualité.</p>
      <p>Il vous suffit de lui céder votre boitier quand vous le désirez. La facturation prendra fin lors de la désactivation du boitier et la réduction sera appliquée lorsque votre "filleul" activera le boitier via son nouveau compte client.<p>
    </div>
  </div>
</div>

