<div class="form-group">
  <label class="">Où habitez vous ?</label>
  <div class="">
    <input id="order_autocomplete_address" name="order_autocomplete_address"
    class="form-control" placeholder="Start typing your address...">
  </div>
</div>
<!-- <fieldset class="disabled"> puis disabled="true"  pour chaque input
 --><fieldset class="">
  <div class="form-group">
    <label class=""><code>street_number</code></label>
    <div class="">
      <input id="street_number" name="street_number" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class=""><code>route</code></label>
    <div class="">
      <input id="route" name="route" disabled="true" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class=""><code>postal_code</code></label>
    <div class="">
      <input id="postal_code" name="postal_code" disabled="true" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class=""><code>locality</code></label>
    <div class="">
      <input id="locality" name="locality" disabled="true" class="form-control">
    </div>
  </div>
  <div class="form-group hidden">
    <label class=""><code>administrative_area_level_1</code></label>
    <div class="">
      <input id="administrative_area_level_1" name="administrative_area_level_1" disabled="true" class="form-control">
    </div>
  </div>

  <div class="form-group hidden">
    <label class=""><code>country</code></label>
    <div class="">
      <input id="country" name="country" disabled="true" class="form-control">
    </div>
  </div>
</fieldset>

