<p><strong>Bonjour,</strong></p>

<p>Vous avez été parrainé par <%= @giver.civility %> <%= @giver.first_name %> <%= @giver.last_name %> dans le cadre du service Electroscope</p>
<p>Il vous remettra le boitier aux alentours du <%= @sponsorship.disposal_date %>. La facturation débutera le jour de l'activation. Votre réduction de parrainage sera imputée à votre première facture.</p>

<p>N'hésitez pas à nous contacter pour toute question relative à nos services.</p>

<p>Cordialement</p>

<p>L'équipe d'Electroscope</p>