<p><strong>Bonjour <%= @giver.civility %> <%= @giver.first_name %> <%= @giver.last_name %>,</strong></p>

<p>Votre parrainage a bien été enregistré.</p>
<p>Remettez votre boitier Electroscope aux alentours du <%= @sponsorship.disposal_date %>. Votre facturation prendra fin à partir du moment où votre boitier sera déconnecté. Votre réduction sera imputée à votre dernière facture à partir de l'activation du boitier par la personne que vous avez parrainé.</p>

<p>N'hésitez pas à nous contacter pour toute question relative à nos services.</p>

<p>Cordialement</p>

<p>L'équipe d'Electroscope</p>