<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Mes appareils</h1>
      <h2>Liste de mes appareils</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <% @devices.each do |d| %>
        <div class="device-border">
          <div class="row">
            <div class="col-xs-8">
              <ul>
                <h3><%= d.name %></h3>
                <li>Consommation journalière moyenne <%= d.device_type.avg_daily_consumption %></li>
                <li>Consommation annuelle moyenne <%= d.device_type.avg_yearly_consumption %></li>
                <li>Coût par utilisation :</li>
                <li>Coût estimé par an: </li>
                <li>Pollution estimée par an:</li>
              </ul>
            </div>
            <div class="col-xs-3"><div class="image-device"><%= image_tag(d.device_type.url, class: "img-thumbnail") %></div></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>