<% content_for :heading, "Mon logement" %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <h3>Editer</h3>
          <%= render partial: "form"%>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @flat.accommodation_type.nil? %>
<div id="background_pop_up">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Félicitations, votre commande a bien été exécutée.</h4>
      </div>
      <div class="modal-body">
        <p>Un e-mail de confirmation vous a été envoyé.<br>
          Vous recevrez votre boitier sous trois jours ouvrés et pourrez alors l'activer depuis votre compte electroscope.</p>

          <p><strong>En attendant, prenez quelques instants pour nous fournir quelques indications sur votre logement afin d'obtenir un relevé plus précis de votre consommation électrique.</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary dismiss-modal">Je continue</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <% end %>

  <%= content_for(:js) do %>
  <script>

  $(document).ready(function(){
     var updateOccupantsLabel = function(){
       var OccupantsValue = $("#slider-occupants").val() + " habitant";
       OccupantsValue += $("#slider-occupants").val() == 1 ? "" : "s";
       $("#occupants-val").html(OccupantsValue);
    };

    $("#surface-val").html($("#slider-surface").val() + " m²");
    updateOccupantsLabel();
    $(document).on('click', ".dismiss-modal", function () {
      $("#background_pop_up").fadeOut();
    });

    $("#slider-surface").change(function () {
     $("#surface-val").html($("#slider-surface").val() + " m²");
   });
    $("#slider-occupants").change(function () {
      updateOccupantsLabel();
    });

});

</script>

<% end %>





