<footer>
  <ul class="list-unstyled list-inline">
    <li><%= link_to "Accueil", "#" %></li>
    <li> | </li>
    <li><%= link_to "Actualités", "#" %></li>
    <li> | </li>
    <li><%= link_to "Wiki", "#" %></li>
    <li> | </li>
    <li><%= link_to "FAQ", "#" %></li>
  </ul>
</footer>