<html>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
  google.load("visualization", "1.1", {packages:["bar"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['', 'Kwh'],
      ['2014', 1000],
      ['2015', 1170],
      ['2016', 660],
      ['2017', 1030]
      ]);

    var options = {
      chart: {
        title: 'Semaine écoulée',
        subtitle: 'Consommation en kwh',
      },
          bars: 'horizontal' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('barchart_material'));

        chart.draw(data, options);
      }
      </script>
    </head>
    <body>
      <div id="barchart_material" style="width: 400px; height: 200px;"></div>
    </body>
    </html>