<% content_for :heading, "Ma consommation globale" %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 ">
          <% if  @statements.size >= 1  %>
          <h2>Suivi en temps réel ! </h2>
          <div id="chart_div"></div>
          <p>La dernière mesure (<%= @statements.last.power.to_i %> W) a été relevée à <%= l(DateTime.now, format: :date_with_time) %></p>
          <% else   %>
          <p>Votre électroscope n'a pas encore envoyé de relevé. A priori, deux causes peuvent expliquer cela :</p>
            <ul>
              <li>Votre boîtier n'est pas installé. Consulter le guide pour procéder à l'installation.</li>
              <li>Votre boîtier est défectueux. Contactez notre service client.</li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the chart package.
  google.load('visualization', '1', {'packages':['annotatedtimeline']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var points_json = <%= raw @points.to_json %>;
    //
    // console.log("********************")

    for ( var i = 0; i < points_json.rows.length; i++ ) {
      points_json.rows[i].c[0].v = new Date(points_json.rows[i].c[0].v * 1000 );
    }
    console.log(points_json);

    var data = new google.visualization.DataTable(points_json);

    var options = {
      width: 600,
      height: 300,
      displayAnnotations: true,
      title: "Puissance globale instantanée (en W)"
    };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
  </script>

