<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Mon Compte</a></li>
  <li role="presentation"><a href="#">Mon profil de consommation</a></li>
  <li role="presentation"><a href="#">Mes défis</a></li>
  <li role="presentation"><a href="#">Modélisation thermique</a></li>
  <li role="presentation"><a href="#">Mes appareils</a></li>
</ul>