<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" >
      <div class="page-header">
        <h2>A propos d'Electroscope</h2>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae asperiores numquam commodi laborum quaerat, ex enim vel dolor culpa dignissimos aperiam accusantium quas officiis omnis iusto explicabo ipsam quae. Ad.</span></p>
          <p>
          <span>Dolorum ea libero nulla, quisquam alias eveniet, ab enim omnis. Animi, dicta voluptas odio ipsum voluptate libero architecto nisi, ipsa sunt eveniet facere placeat dolorum error, ratione accusamus est, natus.</span></p>
          <p>
          <span>Ea, ad totam impedit repudiandae, harum cupiditate corrupti repellendus id! Blanditiis, architecto laudantium. Nostrum non ex hic est expedita soluta, ipsa laborum dolorum, molestias corporis nihil libero eum deserunt aspernatur.</span></p>
          <p>
          <span>Tempore asperiores sunt, tempora cum enim at eaque, inventore voluptatem nulla beatae reiciendis rerum, magni dicta dolorum minus? Quis iure, quidem autem sapiente culpa repellendus officia aliquid accusantium libero, officiis.</span></p>
          <p>
          <span>Voluptates nam officiis, quo perspiciatis animi accusamus. Neque, non facere, officia tempora culpa fugit quasi corporis nulla corrupti et alias, repellat quidem aspernatur magni molestias vero at sequi rem dolor.</span></p>
          <p>
        </div>
      </div>
    </div>
  </div>
</div>