<div class="container">
  <div class="row">
    <div class="col-xs-12" >
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render "nav_back"%>
          <div class="row">
            <div class="col-xs-6" >
              <h2>Mes informations</h2>
              <div class="spacer-100"></div>
              <div class="spacer-100"></div>
            </div>
            <div class="col-xs-6" >
              <h2>Mon abonnement</h2>
              <div class="spacer-100"></div>
              <div class="spacer-100"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4" >
              <h3>Défi du jour</h3>
              <div class="spacer-100"></div>
              <div class="spacer-100"></div>
            </div>
            <div class="col-xs-4" >
              <h3>Parrainage</h3>
              <div class="spacer-100"></div>
              <div class="spacer-100"></div>
            </div>
            <div class="col-xs-4" >
              <h3>Alertes</h3>
              <div class="spacer-100"></div>
              <div class="spacer-100"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>