<h1>Description de l'offre</h1>
<div class="panel panel-default">
  <div class="panel-body">
    Top moumoute !
  </div>
</div>

<%= form_for(@order) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">1. Apprendre à vous connaître </h3>
    </div>
    <div class="panel-body">

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">2. Choisir vos options de livraison</h3>
    </div>
    <div class="panel-body">

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">3. Valider la commande</h3>
    </div>
    <div class="panel-body">

    </div>
  </div>

<% end %>