.title-device {
  height: 50px;
  text-align: center;
  vertical-align: bottom;
}

.image-device {
  height: 50px;
}

.img-thumbnail {
  border: none;

}

.my-device {
  display: inline-block;
  height: 150px;
  margin: 20px auto;
  border: 1px solid #dddddd;
  border-radius: 5px;
}


#my-house {
  border: 2px solid black;
}