.title-device {
  height: 50px;
  text-align: center;
  font-size: 0.9em;
}


.device-border {
  border: 1px solid rgb(214, 214, 214);
  width: 95%;
  margin: 5%;
  background-color: white;
}

.img-thumbnail {
  border: none;
  padding: none;
  border-radius: 20px;
  margin-top: 15px;
}

.my-device {
  display: inline-block;
  height: 150px;
  margin: 5px;
  border: 1px solid #dddddd;

}


#my-house {
  border: 2px solid black;
  align-content: center;
}

#background_pop_up {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width:100%;
  opacity: 1;
  top : 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
}

.modal-footer {
  text-align: center;
}

#my-house {
  min-height: 400px;
}

#send {
  width: 100%;
  border-radius: 0px;
}

#edit-flat-table td {
  padding: 5px 10px 5px 0px;
}

// Style pour devices/index.html.erb

.small-image {
  width: 20%;
  float: right;
  margin-top: 10px;
}

.vignette {
  background-color: white;
  margin: 2%;

  p, h3 {
  display: inline-block;
  }

  table {
    width: 100%;
    height: 150px;
    text-align: center;
  }

  td {
    width: 33%;
    font-size: 1.4em;
    padding: 20px auto;
  }

  .in-circle {
    border: 10px solid #EBEBEB;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    padding-top: 23%;;
  }
}



// Style pour les graphiques (Donuts)

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}





