.title-device {
  height: 50px;
  text-align: center;
  font-size: 0.9em;
}


.device-border {
  border: 1px solid rgb(214, 214, 214);
  width: 95%;
  margin: 5%;
  background-color: white;
}

.img-thumbnail {
  border: none;
  padding: none;
  border-radius: 20px;
  margin-top: 15px;
}

.my-device {
  display: inline-block;
  height: 150px;
  margin: 5px;
  border: 1px solid #dddddd;

}


#my-house {
  border: 2px solid black;
  align-content: center;
}

#background_pop_up {
  background-color: black;
  position: fixed;
  height: 100%;
  width:100%;
  opacity: 0.8;
  top : 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.modal-footer {
  text-align: center;
}

#my-house {
  min-height: 400px;
}

#send {
  width: 100%;
  border-radius: 0px;
}




